html[data-theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #000;
  --plus-icon-color: #000;
  --modal-bg-color: #f5f5f5;
  --backup-bg-color: #ffffff;
  --backup-btn-bg-color: #f5f5f5;
  background-color: #f5f5f5;
}

html[data-theme="dark"] {
  --primary-color: #252627;
  --secondary-color: rgba(255, 255, 255, 0.9);
  --plus-icon-color: rgba(255, 255, 255, 0.9);
  --modal-bg-color: #18191a;
  --backup-bg-color: #252627;
  --backup-btn-bg-color: #18191a;
  background-color: #18191a;
}

html[data-theme="jungle"] {
  --primary-color: #f5f5f5;
  --secondary-color: #000;
  --plus-icon-color: #f5f5f5;
  --modal-bg-color: #dfdfdf;
  --backup-bg-color: #f5f5f5;
  --backup-btn-bg-color: #fff;
  background-image: url("@/assets/images/jungle.webp");
  background-size: cover;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.text-primary {
  color: var(--secondary-color) !important;
}

.modal-bg-color {
  background-color: var(--modal-bg-color);
}

.plus-icon-color {
  color: var(--plus-icon-color);
}

.backup-bg-color {
  background-color: var(--backup-bg-color);
}

.backup-btn-bg-color {
  background-color: var(--backup-btn-bg-color);
}
